.env
.env.*

node_modules
yarn-error.log

typechain
src/types
artifacts
cache
dist
export

coverage*

config
deployments/*/solcInputs/*.json
deployments
scripts/operations
# Foundry
lib/forge-std
.gitmodules
cache_forge/
.DS_Store
out/
.idea/